.container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: transparent;
    border: 1px solid #3470ff;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 156px;
    margin-bottom: 124px;
  }
  
  .button:hover,
  .button:focus {
    color: #3470ff;
    background-color: transparent;
    border-color: #3470ff;
    box-shadow: 0 0 0 2px rgba(52, 112, 255, 0.2);
  }
  
  